@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>James Zachary Sherman Customer CRUD Application</h1>
    <p class="lead">This application is a simple SPA CRUD web app using a varying number of technologies and packages.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <ul>
            <li>Please click the large Icon on the NavBar to go to the persistant storage list of customers. You can create a new instance of customer via the New Customer button.</li>
            <li>You can click the individual customer and see their information in regards to each user.</li>
            <li>You may also delete a customer using the delete option in the table. (A nice snappy bootstrap box will pop up to confirm this).</li>
        </ul>
        
    </div>
    <div class="col-md-4">
        <h2>Technologies Used:</h2>
        <ul>
            <li> C# MVC 5</li>
            <li> AutoMapper </li>
            <li> Bootstrap CSS </li>
            <li> Bootbox </li>
            <li> JQuery </li>
            <li> Javascript Included Libraries</li>
            <li> A weekend of work and learning</li>
            <li> C# Web Api for client side rendering</li>
            <li> Entity Framework</li>
        </ul>
        <p> This Project is based off of Mosh Hamedani's Udemy course project on ASP.NET MVC design. I undertook the course, completed it, then chose to modify the constraints of the finished product to make it into a more accesible and usable example with my own touches.</p> 
    </div>
    <div class="col-md-4">
        <h2> Getting Ahold of Me: </h2>
        <ul>
            <li>Email: James.Sherman.1994@gmail.com</li>
            <li>Github: Jameson Sherman </li>
            <li>LinkedIn: James Zachary Sherman</li>
        </ul>
    </div>
</div>